<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
<h1>City</h1>
ID: <span th:text="${cityInfo.getId()}"></span><br/>
Name: <span th:text="${cityInfo.getName()}"></span><br/>
Country Code: <span th:text="${cityInfo.getCountryCode()}"></span><br/>
Country Name: <span th:text="${cityInfo.getCountryName()}"></span><br/>
District: <span th:text="${cityInfo.getDistrict()}"></span><br/>
Population: <span th:text="${cityInfo.getPopulation()}"></span><br/>
Local Weather: <span th:text="${cityInfo.getTemp()}"></span>F<br/>
Local Time:  <span th:text="${cityInfo.getTime()}"></span><br/>
<form action="#" th:action="@{/cities/reservation}" method="post">
 Email: <input type="text" name="email" id="email" /><br/>
  <input type="radio" name="level" value="Luxury">Luxury $1000 <br/>
  <input type="radio" name="level" value="Very Good">Very Good $500 <br/>
  <input type="radio" name="level" value="Good">Good $350 <br/>
  <input type="hidden" name="city" th:value="${cityInfo.name}">
  <input type="submit" value="Submit" />
</form>
</body>
</html>


 